:root {
	--primary-color: #f8edeb;
	--secondary-color: #ffffff;
	--accent-color: #975e5f;
	--accent-color--hover: #8a5656;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", serif;
}

.container {
	width: 90vw;
	margin: auto;
}
