/* ================= Mobile ================= */

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo img {
    width: 240px;
}

.header__menu {
    display: inline-block;
}

/* Create hamburger menu */
.header__menu .header__bar {
    margin: 5px 3px;
    width: 25px;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: transform 0.2s;
}

/* Change hamburger menu to X when navigation is open */
.header__menu.open .header__bar:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
    -ms-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}

.header__menu.open .header__bar:nth-child(2) {
    opacity: 0;
}

.header__menu.open .header__bar:last-child {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/* Header links */
.header__nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Hide by default */
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
}

.header__nav ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    line-height: 2;
}

.header__nav li {
    font-size: 24px;
    text-align: center;
}

.header__nav a {
    text-decoration: none;
    color: #000;
}

.header__mobile-links img {
    height: 35px;
}

.header__mobile-links img:last-child {
    margin-left: 10px;
}

/* Show header links */
.header__nav.open {
    opacity: 1;
    height: 100vh;
}

/* ================= Desktop ================= */

@media only screen and (min-width: 992px) {

    /* Hide hamburger menu */
    .header__menu {
        display: none;
    }

    header .container {
        display: flex;
        justify-content: space-between;
    }

    .header__nav {
        flex-direction: row;
        opacity: 1;
        height: auto;
        transition: none;
    }

    .header__nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .header__nav a {
        font-size: 16px;
        padding: 12px 16px;
    }

    /* Add bottom border for active links (not for contact) */
    .header__nav li:not(:last-child) a {
        margin-right: 15px;
        border-bottom: 1px solid transparent;
        transition: border 0.2s ease-in;
    }

    .header__nav li:not(:last-child) a:hover {
        border-bottom: 1px solid var(--accent-color);
    }

    .header__nav li:not(:last-child) a.active {
        border-bottom: 1px solid var(--accent-color);
    }

    /* Contact button */
    .header__nav li:last-child a {
        background-color: var(--accent-color);
        color: var(--secondary-color);
        padding: 10px 30px;
        border: 1px solid var(--accent-color);
        border-radius: 25px;
        transition: background-color 0.2s ease-in;
    }

    .header__nav li:last-child a:hover {
        background-color: var(--accent-color--hover);
    }

    /* Active contact button */
    .header__nav li:last-child a.active {
        background-color: transparent;
        color: var(--accent-color);
    }

    /* Hide mobile social links */
    .header__mobile-links {
        display: none;
    }
}