html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #EBD9DB;
}

header nav img {
    height: 60px;
}

.dropdown-item:active {
    background: #C89093;
}

.nav-item>.nav-link.btn {
    background-color: #C89093;
    border: none;
}

.nav-item>.nav-link.btn:hover {
    background-color: #ca9d9f;
}




/* header>.navbar>.collapse>.navbar-nav {
    background-color: red;
    display: flex;
    justify-content: flex-end;
}

.navbar-expand-md {
    justify-content: flex-end;
} */