:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --desaturatedblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--paleblue);
  background-image: url(pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--desaturatedblue);
}

button {
  font-family: inherit;
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-change {
  background-color: transparent;
  color: var(--brightblue);
  text-decoration: underline;

}

.btn-change:hover {
  opacity: 0.8;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--brightblue);
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  width: 90%;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: transparent;
  color: var(--desaturatedblue);
  width: 90%;
}

.btn-secondary:hover {
  color: var(--darkblue);
}

.container {
  background-color: #fff;
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
} 

.container h1 {
  color: var(--darkblue);
  margin: 10px 0;
  font-weight: 900;
}

.container p.desc {
  padding: 0 30px;
}

.container img.hero {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.container .pricing {
  margin: 20px auto;
  padding: 10px;
  background-color: var(--verypaleblue);
  width: 90%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .pricing article {
  display: flex;

  align-items: center;
  justify-content: center;
}

.container .pricing article img {
  margin-right: 10px;
}

.container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Attribution */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* For desktop */
@media screen and (min-width: 992px) {
  body {
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .container {
    width: 500px;
  }
}
