/* Table of Contents
   1. Variables
   2. Global
   3. Typography
   4. Layout
   5. Components
*/

/* ===========
    Variables
   ===========
*/

:root {
  --white: hsla(0,0%,100%,1);
  --purple: hsla(270,100%,80%,1);
  --lightpurple: rgb(213, 174, 253);
  --darkpurple: rgb(188, 122, 253);
  --verydarkpurple: rgb(159, 103, 214);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

header {
  background-image: linear-gradient(90deg,red, blue);
  background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 2rem;
  text-shadow: 10px 10px 10px var(--verydarkpurple);
  padding: 20px;
}

nav ul {
  list-style-type: none;
  background-color: var(--darkpurple);
  display: flex;
  justify-content: flex-start;
  padding: 14px 16px 14px 0;
}

nav li a {
  text-decoration: none;
  padding: 14px 16px;
}

nav li a:hover:not(.active) {
  background-color: var(--lightpurple);
}

.active {
  background-color: var(--white);
}

main {
  background-color: var(--white);
}

section {
  background-color: var(--purple);
  box-shadow: 10px 10px 10px var(--verydarkpurple);
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  height: 500px;
  width: auto;
}

section p {
  background-color: var(--white);
}

footer {
  color: var(--white);
  background-color: var(--purple);
  display: flex;
  justify-content: space-around;
  align-items: center;
} 
