/* =============================== Global ==================================== */

/* Colors: 
black olive: #423E3B;
purpurpeus: #9055A2;
kobi: #D499B9; 
baby pink: #E8C1C5;
cultured: #EFF1ED; 
cool grey: #8789C0;
mustard: #FCD757;
middle red: #E08D79; */

:root {
    --dark-color: #423E3B;
    --light-color: #FFF;
    --main-color: #f9e5d8;
    --accent-color: #dc0073;
}

body {
    font-family: "Lusitana", serif;
    color: var(--dark-color);
    background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption{
    font-family: "Raleway", sans-serif;
}

h1 {
    text-align: center;
}

main {
    min-height: 69vh;
}

/* ============================= Components ================================== */

.card {
    background-color: var(--light-color);
    box-shadow: 5px 8px 10px #afafaf;
}

/* ==================================== Navigation ========================== */

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-evenly;
}

header nav li {
    display: block;
}

header nav a {
    display: block;
    color: var(--dark-color);
    text-decoration: none;
    padding: 14px 16px;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-bottom 0.2s ease-in;
    transition: border-bottom 0.2s ease-in; 
}

header nav a:hover {
    border-bottom: 3px solid var(--accent-color);
}

header a.active {
    border-bottom: 3px solid var(--accent-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        width: 100%;
    }
    header nav a {
        border: none;
        transition: background-color 0.2s ease-in;
    }
    header nav a:hover {
        background-color:#e4e3e3;
        border: none;
    }
    header nav a.active {
        color: var(--light-color);
        background-color: var(--accent-color);
        border: none;
    }
}

/* ==================================== Home Page =========================== */

.bio-card {
    margin: 50px auto;
    display: flex;
    width: 80%;
    padding: 20px;
}

.bio-image {
    height: 640px;
    padding-right: 20px;
}

.bio-card h1 {
    text-align: left;
}

.button {
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.portfolio-button {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    color: var(--light-color);
    width: 100px;
}

.contact-button {
    background-color: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    width: 100px;
}

.portfolio-button:hover {
    background-color: transparent;
    color: var(--accent-color);
}

.contact-button:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
}

/* Media Queries */
/* For phones: small, medium, and large */
@media screen and (max-width: 425px) {
    .bio-card {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        margin: 30px auto;
    }
    .bio-image {
        padding: 0;
    }
    .bio-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 110px;
    }
}
@media screen and (min-width: 320px) {
    .biography img,
    .bio-image {
        width: 211px;
        height: 203px;
    }
    .bio-text {
        width: 211px;
    }
    .biography .button {
        width: 165px;
    }
}
@media screen and (min-width: 375px) {
    .bio-card {
        padding: 30px 10px;
    }
    .biography img,
    .bio-image {
        width: 281px;
        height: 271px;
    }
    .bio-text {
        width: 281px;
    }
    .biography .button {
        width: 235px;
    }
}
@media screen and (min-width: 425px) {
    .bio-card {
        padding: 35px 30px;
    }
    .biography img,
    .bio-image {
        width: 337px;
        height: 327px;
    }
    .bio-text {
        width: 337px;
    }
    .biography .button {
        width: 295px;
    }
}
/* For tablet */
@media screen and (min-width: 768px) {
    .bio-card {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 25px 25px 25px;
    }
    .bio-text {
        height: 370px;
    }
    .bio-image {
        padding-right: 20px;
    }
    .biography img,
    .bio-image {
        width: 274px;
        height: 365px;
    }
    .biography .button {
        width: 100px;
        margin: 5px;
    }
}
/* For laptops */
@media screen and (min-width: 1000px) {
    .bio-card {
        padding: 25px;
        align-items: flex-start;
    }
    .biography img,
    .bio-image {
        width: 320px;
        height: 427px;
    }
    .bio-text {
        width: 90%;
    }
}
@media screen and (min-width: 1400px) {
    .biography img,
    .bio-image {
        width: 384px;
        height: 512px;
    }
    .bio-text {
        width: 90%;
    }
}
@media screen and (min-width: 2500px) {
    .biography img,
    .bio-image {
        width: 480px;
        height: 80%;
    }
    .bio-text {
        width: 90%;
    }
}

/* ==================================== Education =========================== */

.education-item {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
}

/* ==================================== Work Experience ===================== */

.job-item {
    width: 70%;
    margin: 35px auto 45px auto;
    padding: 20px;
    display: flex;
}

.yogurtland-img,
.fbla-img {
    width: 300px;
    height: 300px;
}

.presentation-img {
    width: 293px;
    height: 327px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .job-item {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 320px) {
    .yogurtland-img,
    .fbla-img {
        width: 175px;
        height: 175px;
    }
    .presentation-img {
        width: 172px;
        height: 192px;
    }
}
@media screen and (max-width: 425px) {
    .yogurtland-img,
    .fbla-img {
        width: 220px;
        height: 220px;
    }
    .presentation-img {
        width: 225px;
        height: 252px;
    }
}
/* ==================================== Skills ============================== */
.skills p {
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item {
    margin: 20px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hard-worker-img,
.artistic-img,
.good-listener-img {
    width: 300px;
    height: 300px;
}

.photographic-memory-img {
    width: 292px;
    height: 327px;
}

.creative-img {
    width: 276px;
    height: 327px;
}

.skill-item figcaption {
    text-align: center;
}

/* Media Queries */
@media screen and (max-width: 375px) {
    .hard-worker-img,
    .artistic-img,
    .good-listener-img {
        width: 200px;
        height: 200px;
    }
    .photographic-memory-img {
        width: 194px;
        height: 218px;
    }
    .creative-img {
        width: 184px;
        height: 218px;
    }
}

/* ==================================== Interests =========================== */

.interests p {
    text-align: center;
}

.image-gallery {
    background-color: var(--light-color);
    display: flex;
    justify-content: center;
    margin: 45px auto;
    padding: 20px;
    width: 80%;
}

.column-1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 20px;
}

.column-1 img {
    width: 100%;
    height: auto;
}

.column-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.column-2 img {
    width: 100%;
    height: auto;
}

/* Media Queries */
@media screen and (max-width: 425px) {
    .column-1 {
        display: block;
        width: 100%;
    }
    .column-2 {
        display: block;
        width: 100%;
    }
    .image-gallery {
        flex-direction: column;
    }
}

/* ================================= Portfolio =========================== */

.portfolio-item-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
}

.portfolio-item {
    margin: 20px;
    height: 80%;
    width: 30%;
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item-desc {
    padding: 0 20px 20px 20px;
}

.project-button {
    background-color: #dc0073;
    color: var(--light-color);
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.project-button:hover {
    background-color: #ec3091;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .portfolio-item-container {
        flex-direction: column;
    }
    .portfolio-item {
        width: 90%;
        display: flex;
    }
    .portfolio-item img {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 425px) {
    .portfolio-item-container {
        flex-direction: column;
    }
    .portfolio-item {
        display: flex;
        flex-direction: column;
    }
    .portfolio-item img {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 1400px) {
    .portfolio-item {
        width: 27%;
    }
}
@media screen and (min-width: 2500px) {
    .portfolio-item {
        width: 20%;
    }
}
/* ================================== Contact =========================== */

.contact-me .name-first {
    grid-area: fname;
}

.contact-me .name-last {
    grid-area: lname;
}

.contact-me .email {
    grid-area: email;
}

.contact-me .phone {
    grid-area: phone;
}

.contact-me .subject {
    grid-area: subject;
}

.contact-me .message {
    grid-area: message;
}

.contact-me button {
    grid-area: button;
}

.contact-me form {
    background-color: var(--light-color);
    width: 70%;
    margin: 40px auto;
    padding: 40px 20px;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-areas:
    "fname lname"
    "email phone"
    "subject subject"
    "message message"
    "button button";
    grid-gap: 25px;
}

.contact-me label {
    display: block;
}
.name-first,
.name-last,
.email,
.phone {
    width: 120%;
}

.name-first,
.email {
    margin-right: 50px;
}
.name-last,
.phone {
    margin-left: 50px;
}
.subject,
.message {
    width: 120%;
}
.contact-me input {
    width: 100%;
    height: 55px;
}

.contact-me textarea {
    width: 100%;
    height: 150px;
    resize: none;
}

.contact-me button {
    height: 50px;
    width: 200px;
    background: var(--accent-color);
    color: var(--light-color);
    border: 3px solid var(--accent-color);
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.contact-me button:hover {
    background: transparent;
    color: var(--accent-color);
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .name-first,
    .name-last,
    .email,
    .phone {
        width: 95%;
    }
    .name-first,
    .email {
        margin-right: 0;
    }
    .name-last,
    .phone {
        margin-left: 0;
    }
    .subject,
    .message {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .contact-me form {
        grid-template-areas:
        "fname fname"
        "lname lname"
        "email email"
        "phone phone"
        "subject subject"
        "message message"
        "button button";
        
    }
}

@media screen and (min-width: 1400px) {
    .name-first,
    .name-last,
    .email,
    .phone {
        width: 125%;
    }
    .name-first,
    .email {
        margin-right: 125px;
    }
    .name-last,
    .phone {
        margin-left: 125px;
    }
    .subject,
    .message {
        width: 135%;
    }
}
@media screen and (min-width: 2500px) {
    .contact-me form {
        padding: 45px 20px 50px 20px;
    }
    .name-first,
    .name-last,
    .email,
    .phone {
        width: 140%;
    }
    .name-first,
    .email {
        margin-right: 200px;
    }
    .name-last,
    .phone {
        margin-left: 200px;
    }
    .subject,
    .message {
        width: 145%;
    }
}

/* ============================ Footer =============================== */

footer {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 25px 0;
}

footer nav ul {
    list-style-type: none;
    margin: 25px auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

footer nav li {
    display: inline;
}

footer a {
    display: inline-block;
    color: var(--dark-color);
    padding: 14px 16px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer small {
    display: block;
    margin: 30px auto;
    text-align: center;
}

footer hr {
    border: 0;
    height: 1px;
    background: var(--light-color);
    background-image: linear-gradient(to right, var(--light-color), var(--dark-color), var(--light-color));
}
