
/* ================================== Global ====================================  */

/* Variables */
:root {
    --pink: #ff6699;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #262626;
    --semidarkgray: #4d4d4d;
    --mediumgray: #737373;
    --semilightgray: #a6a6a6;
    --lightgray: #cccccc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--pink);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Glass Antiqua", cursive;
}

/*  ======================================== Header ================================== */

header {
    background-color: var(--black);
}

header img {
    width: 400px;
    height: auto;
}

/* ================================= Navigation ================================= */
nav {
    background-color: var(--darkgray);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--pink);
    display: block;
    padding: 16px 14px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-out;
}

nav a:hover {
    border-bottom: 3px solid var(--pink);
}

nav a.active {
    border-bottom: 3px solid var(--pink);
}

/* =============================================== Hero =================================== */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url("images/sammyhugstree.jpg");
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.hero-text .button {
    border: 2px solid var(--pink);
    border-radius: 25px;
    outline: 0;
    display: inline-block;
    padding: 10px 15px;
    color: var(--white);
    background-color: var(--pink);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.hero-text .button:hover {
    background-color: transparent;
}

/* ==================================== Projects ============================== */

.projects {
    padding: 10px;
}

.articles {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 992px) {
    .articles {
        flex-direction: row;
    }
}

.projects article {
    background-color: var(--white);
    margin: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 var(--black);
    transition: 0.3s;
}

.projects article:hover {
    box-shadow: 0 8px 16px 0 var(--black);
}

.projects .button {
    border: 2px solid var(--pink);
    border-radius: 25px;
    outline: 0;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    color: var(--black);
    background-color: var(--pink);
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.projects .button:hover {
    background-color: transparent;
}

/* ============================= About Me ===================== */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 10px 15px 10px 0;
}

.about-me img {
    width: 200px;
    height: 200px;
    padding: 0 10px;
}

/* ================================== Footer ============================ */

footer {
    background-color: var(--black);
    font-family: "Glass Antiqua", cursive;
    color: var(--pink);
    font-size: 20px;
    padding: 20px;
}

