@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --pink: #ff6699;
    --white: #ffffff;
    --black: #000000;
    --darkgray: #262626;
    --semidarkgray: #4d4d4d;
    --mediumgray: #737373;
    --semilightgray: #a6a6a6;
    --lightgray: #cccccc;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pink);
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url("images/sammyhugstree.jpg");
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.hero-text button {
    border: 2px solid var(--pink);
    border-radius: 20px;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: var(--white);
    background-color: var(--pink);
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.hero-text button:hover {
    background-color: transparent;
}

nav {
    background-color: var(--darkgray);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: var(--pink);
    display: block;
    padding: 16px 14px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-out;
}


nav a:hover {
    border-bottom: 3px solid var(--pink);
}

nav a.active {
    border-bottom: 3px solid var(--pink);
}

header,
footer {
    background-color: var(--black);
}

footer {
    font-family: "Glass Antiqua", cursive;
    color: var(--pink);
    font-size: 20px;
}

header img {
    width: 400px;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Glass Antiqua", cursive;
}



